.contact-form{
    width: 70%;
    height: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    background: rgba(255, 255, 255);
    padding: 2% 2%;
    
}

.form-group{
    margin-bottom: 0.5rem;
}

.form-control{
    font-size: 0.8rem !important;
}

