.row-new-contact{
    width: 100%;
    height: 40vh;
    display: flex;
    margin-bottom: 3%;
}
.view-new-contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5%;
}
.new-contact{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding: 0.5%;
}

.list-contact{
    width: 100%;
    height: 100vh;
    padding: 5%;

}
